.Coins {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin: 50px auto;
  min-height: 20px;
  padding: 19px;
  text-align: left;
  width: 70%;
}

.Coins input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  padding: 6px 12px;
  width: 120px;
}

.Home {
  margin: 0 auto;
  width: 500px;
}

.Home h1 {
  font-size: 32px;
  color: #333;
}

.Home p {
  color: #333;
  text-align: center;
}

.Home a {
  color: #56d5fa;
  text-decoration: none;
}

.Home a:hover {
  color: #333;
}

.Notes {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin: 50px auto;
  min-height: 20px;
  padding: 19px;
  text-align: left;
  width: 70%;
}

.Notes ul {
  margin: 20px 0px;
  padding: 0;
  list-style: none;
}

.Notes ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}

.Pomodoro {
  padding: 50px;
}

.Pomodoro .timer {
  font-size: 100px;
  font-weight: bold;
}

.Pomodoro .alert {
  font-size: 20px;
  padding: 50px;
  margin-bottom: 20px;
}

.Pomodoro .alert.work {
  background: #5da423;
}

.Pomodoro .alert.shortBreak {
  background: #f4ad42;
}

.Pomodoro .alert.longBreak {
  background: #2ba6cb;
}

.Pomodoro .alert.buz {
  background: #c60f13;
}

.Pomodoro button {
  background: #2ba6cb;
  border: 1px solid #1e728c;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 50px 10px 0px 10px;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.Pomodoro button.start {
  background-color: #5da423;
  border: 1px solid #396516;
}

.Pomodoro button.short {
  background-color: #f4ad42;
  border: 1px solid #dd962a;
}

.Todo {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 50px auto;
  min-height: 20px;
  padding: 20px;
  text-align: left;
  width: 70%;
}

.Todo ul {
  margin: 20px 0px;
  padding: 0;
  list-style: none;
}

.Todo ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.Todo ul li .hide {
  visibility: hidden;
}

.Todo ul li.completed {
  background-color: #dff0d8;
}

.Todo ul li .actions {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.Todo ul li span {
  cursor: pointer;
}

.Todo ul li .done {
  color: #79c41d;
  display: block;
}

.Todo ul li .trash {
  color: #c41d1d;
  display: block;
}

.Todo form input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  padding: 6px 12px;
  width: 40%;
}

.footer {
  color: bisque;
  text-shadow: 0 0 3px #beff81, 0 0 5px #6767fb;
}
.footer:hover {
  color: lightskyblue;
  text-shadow: 2px 2px #3b2f2f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*# sourceMappingURL=main.3359f7cf.chunk.css.map*/