.Home {
  margin: 0 auto;
  width: 500px;
}

.Home h1 {
  font-size: 32px;
  color: bisque;
  /* text-align: center; */
}

.Home p {
  color: beige;
  text-align: center;
}

.Home a {
  color: #56d5fa;
  text-decoration: none;
}

.Home a:hover {
  color: #56d5fa;
  text-shadow: 0 0 3px #beff81, 0 0 5px #6767fb;
}
